<h1>Iniciar Sesión</h1>
<p>Por favor, usa tu cuenta de Google para iniciar sesión.</p>

<form asp-controller="Home" asp-action="IniciarSesionGoogle" method="post">
    <button type="submit" class="btn btn-primary">
        Iniciar sesión con Google
    </button>
</form>